.body {
  margin-top: 1px;
  padding-top: 3rem;
  margin-left: 0.1rem;
  padding-left: 2rem;
  margin-right: 0.2em;
  padding-right: 2rem;
  padding-bottom: 10.2em;
  background-color: black;
}

.stock-design {
  margin-top: 15px;
}
.botão-design {
  margin-top: 1rem;
}
